.sekcja-login {
    height: 70vh;
    overflow: hidden;
}

.sekcja-login p {
    color: red;
    padding-top: 20px;
    font-size: 20px;
}
.login-box {
    color: #1b1e2f ;
    margin: auto;
    margin-top: 8vh;
    width: 500px;
    height: 100%;
    max-width: 90%;
    padding: 20px;
    background: #1b1e2f;
    box-shadow: 10px 10px 8px 10px rgba(0, 0, 0, .3);
}

.logowanie-napis {
    font-size: 35px;
    margin: auto;
    text-align: center;
    width: 250px;
    background: #1b1e2f;
    border-radius: 30px;
    color: white;
}

.input {
    background: transparent;
    font-size: 20px;
    width: 100%;
    height: 60px;
    border-radius: 4px;
    border: none;
    border-bottom:2px solid #2e45ce;
    margin: 10px 0 18px 0;
    padding: 0 10px;
    outline: none;
    color: white;
}
.input:focus {
    border-bottom:2px solid #8ddca4;
}

.form-group-contener {
    margin-top: 20%;
}

.form-group {
    margin-bottom: 15px;
}
.form-group button {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    width: 150px;
    height: 50px;
    color: #1b1e2f;
    border: 2px solid #8ddca4;
    background: #1b1e2f;
    border-radius: 4px;   
    outline: none; 
    color: white;
    margin-top: 20px;
}
.form-group button:hover {
    cursor: pointer;
    background-color: #8ddca4;
    transition: 0.5s all ease;
}
.form-group button::before {

    background-color: #8ddca4;
}
