html,
body {
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: #1b1e2f;
    font-family: "Mina", sans-serif;
    color: #ffffff;
    position: relative;
}


/* NAGŁÓWEK */

header {
    display: flex;
    align-items: center;
    height: 10vh;
    width: 90%;
    margin: auto;
}


/* LOGO */

.logo-napis h1 {
    color: #ffffff;
    font-family: "Orbitron", sans-serif;
    font-size: 30px;
}


/* NAWIGACJA */

nav {
    flex: 1;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 30%;
    margin-left: 35%;
}

.nav-link {
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    font-weight: 300;
    letter-spacing: 2px;
    font-size: 20px;
    padding: 10px 20px;
    margin: auto;
}

.zalogujburger {
    display: none;
}

.nav-link::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: #8ddca4;
    transition: width 0.3s;
}

.nav-link:hover::after {
    width: 100%;
    transition: width 0.3s;
}


/* PRZYCISK LOGOWANIA */

.logowanie-przycisk {
    display: flex;
    justify-content: flex-end;
    font-size: 20px;
    letter-spacing: 2px;
    color: #ffffff;
    padding: 10px 20px;
    border: solid 3px #2e45ce;
    border-radius: 7%;
    position: relative;
    z-index: 1;
}

.logowanie-przycisk:hover {
    color: #ffffff;
    cursor: pointer;
}

.logowanie-przycisk:before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: "";
    background-color: #2e45ce;
}

.logowanie-przycisk:hover:before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
    z-index: -1;
}


/* BURGER */

.burger {
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 5px;
    background-color: #ffffff;
    margin: 5px;
    margin-left: 80%;
    display: none;
}


/* -----------------------------------------------About------------------------------------------------ */

.sekcja-1 {
    min-height: 75vh;
    width: 90%;
    margin: auto;
    display: flex;
    margin-top: 5%;
}

.intro-image {
    margin-left: 15%;
    filter: drop-shadow(4px 4px 0.6px #8ddca4);
}

.presentation {
    display: flex;
}

.intro {
    width: 45%;
    margin-top: 6%;
}

#onas {
    color: #8ddca4;
}

#paragraf1 {
    font-size: 45px;
    font-weight: bolder;
    padding: 2vh 0;
}

#paragraf2 {
    font-size: 18px;
    font-weight: lighter;
}

.rejestracja {
    border: solid 1px #2e45ce;
    border-radius: 7%;
    text-align: center;
    width: 30vh;
    padding: 20px;
    margin-top: 5vh;
    margin-bottom: 20px;
    background-color: #2e45ce;
}

.rejestracja a {
    text-decoration: none;
    color: #ffffff;
}

#paragraf1,
#paragraf2 {
    width: 80%;
}

.sekcja-2 {
    background-color: #eeeeee;
}

.Kategorie {
    display: flex;
}

footer {
    height: 20vh;
    text-align: center;
    padding: 10vh 0;
    overflow-y: hidden;
}

@media only screen and (max-width: 1850px) {
    .intro {
        width: 70%;
    }
}

@media only screen and (max-width: 1630px) {
    .intro {
        width: 90%;
    }
}

@media only screen and (max-width: 1060px) {
    body {
        overflow-x: hidden;
    }
    .logowanie-przycisk {
        display: none;
    }
    .burger div {
        display: flex;
    }
    .nav-links {
        display: none;
        position: absolute;
        right: 0px;
        height: 90vh;
        top: 8vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        transform: translateX(200%);
        transition: transform 0.5s ease-in;
        margin-top: 20px;
        z-index: 1;
        background-image: url(./assets/siatkarz.png);
        background-color: #1b1e2f;
        background-repeat: no-repeat;
        background-position-y: center;
        background-position-x: center;
    }
    .nav-links li {
        opacity: 100;
    }
    .nav-link {
        padding: 9vh 30vh;
    }
    .nav-link:hover {
        background-color: #2e45ce;
    }
    .nav-active {
        transform: translateX(0%);
    }
    .zalogujburger {
        display: inline-block;
    }
}

@media only screen and (max-width: 1210px) {
    .intro-image {
        width: 90%;
        z-index: -1;
    }
    .intro {
        width: 100%;
        margin-top: 10%;
    }
    .rejestracja {
        width: 50%;
    }
    #paragraf2 {
        margin-bottom: 80px;
        margin-top: 15px;
    }
    #paragraf1 {
        font-size: 35px;
    }
    .sekcja-1 {
        margin-top: 6%;
    }
}

@media only screen and (max-width: 1625px) {
    .intro-image {
        position: absolute;
        margin-left: 50%;
        z-index: -1;
    }
    .intro {
        width: 70%;
    }
}

@media only screen and (max-width: 900px) {
    .intro {
        width: 95%;
    }
}

@media only screen and (max-width: 700px) {
    .intro-image {
        display: none;
    }
}

@media only screen and (max-width: 646px) {
    #paragraf1,
    #paragaf2 {
        width: 100%;
    }
}

@media only screen and (max-width: 550px) {
    .intro-image {
        display: none;
    }
    .nav-links {
        background-position-x: 10px;
    }
    .rejestracja {
        width: 50%;
    }
    .sekcja-1 {
        width: 100%;
        margin-left: 20px;
        margin-top: ;
    }
}

@media only screen and (max-width: 400px) {
    #paragraf1 {
        font-size: 25px;
        padding: 5px 0;
    }
    #paragraf2 {
        font-size: 17px;
    }
    .sekcja-1 {
        height: 20vh;
    }
    .rejestracja {
        width: 70%;
        margin-top: 20px;
    }
}

@media only screen and (max-width: 300px) {
    #paragraf1 {
        font-size: 25px;
        padding: 5px 0;
    }
    #paragraf2 {
        font-size: 17px;
    }
    .sekcja-1 {
        height: 100vh;
    }
    .rejestracja {
        width: 70%;
        margin-top: 20px;
    }
}


/*----------------------------------------------------------------------------------
----------------------------------------REJESTRACJA--------------------------------*/

.kontencior {
    margin-top: 20px;
    display: flex;
    margin-top: 5px;
}

.obrazek {
    margin: auto;
    filter: drop-shadow(4px 4px 0.6px #8ddca4);
}

#start {
    margin: 20px 0;
    font-size: 35px;
}

.napisy-rejestracja h2 {
    font-size: 15px;
    display: inline-block;
    margin: 5px;
}

#zaloguj {
    color: #2e45ce;
}

.res {
    color: white;
    margin: auto;
    width: 500px;
    height: 100%;
    max-width: 90%;
    padding: 20px;
    background: transparent;
    box-shadow: 10px 10px 8px 10px rgba(0, 0, 0, .3);
}

.checkbox {
    display: flex;
    margin: 20px;
}

.checkbox h4 {
    margin-left: 10px;
    margin-bottom: 20px;
    font-size: 13px;
}

.App button {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    width: 150px;
    height: 50px;
    color: #1b1e2f;
    border: 2px solid #8ddca4;
    background: #1b1e2f;
    border-radius: 5px;
    outline: none;
    color: white;
}

.App button:hover {
    cursor: pointer;
    background-color: #8ddca4;
    transition: 0.5s all ease;
}

.App button::before {
    background-color: #8ddca4;
}

.is-danger {
    color: rgb(216, 69, 69);
}

.is-white {
    color: #fff;
}

@media only screen and (max-width: 1040px) {
    .obrazek {
        display: none;
    }
}


/* ----------------------------------------KATEGORIE------------------------------------------------ */

.K1 img {
    display: block;
    width: 50%;
    margin: auto;
    margin-top: 30%;
}

.K1 {
    min-height: 50vh;
    width: 20%;
    background-color: transparent;
}

.K1 h1 {
    color: #1b1e2f;
    text-align: center;
    margin-top: 20px;
}

.K1:hover {
    background-color: #E8E8E8;
    border: 3px solid #8ddca4;
}

@media only screen and (max-width: 1300px) {
    .Kategorie {
        display: flex;
        flex-direction: column;
    }
    .K1 {
        width: 50%;
        margin: auto;
        margin-top: 0%;
    }
}

@media only screen and (max-width: 800px) {
    .K1 {
        width: 100%;
        margin-top: 0%;
        margin: auto;
    }
}


/* -------------------------------TASKS-------------------------------- */

.napis-zadania h1 {
    width: 40%;
    margin: auto;
    padding: 20px 0;
    padding-bottom: 40px;
}

.tasks {
    display: flex;
    flex-direction: column;
    min-height: 8vh;
    box-shadow: 10px 10px 8px 10px rgba(0, 0, 0, .3);
    border: .5px solid #8ddca4;
    border-radius: 10px;
    margin: auto;
    width: 40%;
    margin-bottom: 3vh;
    text-align: left;
}

.tasks p {
    font-size: 23px;
    padding: 10px;
    flex: 1;
}

.tasks button {
    font-size: 18px;
    border: none;
    background-color: transparent;
    width: 200px;
}

.tasks button:hover {
    border: none;
    background-color: transparent;
    border-radius: 0px;
    color: #8ddca4;
}

@media only screen and (max-width: 1400px) {
    .tasks,
    .napis-zadania h1 {
        width: 50%;
    }
}

@media only screen and (max-width: 1120px) {
    .tasks,
    .napis-zadania h1 {
        width: 60%;
    }
}

@media only screen and (max-width: 950px) {
    .tasks,
    .napis-zadania h1 {
        width: 70%;
    }
}

@media only screen and (max-width: 800px) {
    .tasks,
    .napis-zadania h1 {
        width: 80%;
    }
}

@media only screen and (max-width: 700px) {
    .tasks,
    .napis-zadania h1 {
        width: 90%;
    }
}

@media only screen and (max-width: 600px) {
    .tasks,
    .napis-zadania h1 {
        width: 95%;
    }
}

.is-warning {
    color: red;
}


/* ----------------------------------------FAQ------------------------------------------------ */

.napis-faq {
    width: 50%;
    margin: auto;
}

.napis-faq h1 {
    margin-top: 50px;
}

.faq {
    margin: 40px 0;
}

.faq-pytanie {
    color: #8ddca4;
    font-size: 30px;
}

.faq-odp {
    font-size: 20px;
}

@media only screen and (max-width: 1600px) {
    .napis-faq {
        width: 70%;
    }
}

@media only screen and (max-width: 750px) {
    .napis-faq {
        width: 80%;
    }
}

@media only screen and (max-width: 600px) {
    .napis-faq {
        width: 90%;
    }
}

@media only screen and (max-width: 500px) {
    .napis-faq {
        width: 95%;
    }
}

@media only screen and (max-width: 400px) {
    .napis-faq {
        width: 99%;
    }
}


/* ----------------------------------------Profil------------------------------------------------ */

.profil {
    text-align: center;
    width: 40%;
    margin: auto;
    padding: 5vh 0;
    padding-bottom: 2vh;
    font-size: 35px;
    text-shadow: 4px 2px #2e45ce;
}

.profil-dane {
    width: 40%;
    margin: auto;
    padding: 1vh 0;
}

.profil-dane h1 {
    font-size: 30px;
    text-shadow: 4px 2px #2e45ce;
}

.profil-dane h3 {
    font-size: 30px;
    text-shadow: 4px 0px #2e45ce;
}

.profil-dane p {
    color: #8ddca4;
    font-size: 25px;
}

.poziom {
    color: #8ddca4;
    font-size: 30px;
    font-weight: bold;
}

.obecny-poziom {
    color: white;
}

.zaliczone-zadania-napis {
    width: 40%;
    margin: auto;
    padding: 2vh 0;
    font-size: 30px;
    text-shadow: 4px 2px #2e45ce;
}

.ukonczone-zadanie {
    padding: 10px;
    display: flex;
    flex-direction: column;
    min-height: 8vh;
    box-shadow: 10px 10px 8px 10px rgba(0, 0, 0, .3);
    border: .5px solid #8ddca4;
    border-radius: 10px;
    margin: auto;
    width: 40%;
    margin-bottom: 3vh;
    text-align: left;
}

.ukonczone-zadanie h1 {
    font-size: 23px;
}

.ukonczone-zadanie p {
    font-size: 16px;
}

.ukonczone-zadanie button {
    font-size: 18px;
    border: none;
    background-color: transparent;
    width: 120px;
}

.ukonczone-zadanie button:hover {
    border: none;
    background-color: transparent;
    border-radius: 0px;
    color: #8ddca4;
}

@media only screen and (max-width: 1400px) {
    .ukonczone-zadanie,
    .zaliczone-zadania-napis,
    .profil-dane,
    .profil {
        width: 50%;
    }
}

@media only screen and (max-width: 1120px) {
    .ukonczone-zadanie,
    .zaliczone-zadania-napis,
    .profil-dane,
    .profil {
        width: 60%;
    }
}

@media only screen and (max-width: 950px) {
    .ukonczone-zadanie,
    .zaliczone-zadania-napis,
    .profil-dane,
    .profil {
        width: 70%;
    }
}

@media only screen and (max-width: 800px) {
    .ukonczone-zadanie,
    .zaliczone-zadania-napis,
    .profil-dane,
    .profil {
        width: 80%;
    }
}

@media only screen and (max-width: 700px) {
    .ukonczone-zadanie,
    .zaliczone-zadania-napis,
    .profil-dane,
    .profil {
        width: 90%;
    }
}

@media only screen and (max-width: 600px) {
    .ukonczone-zadanie,
    .zaliczone-zadania-napis,
    .profil-dane,
    .profil {
        width: 95%;
    }
}

.login-link {
    text-decoration: none;
    color: #8ddca4;
}